.App {
  position: relative;
}

.App[data-background="0"] {
  background-color: white;
  transition: all 600ms ease-in-out;
}

.App[data-background="1"] {
  background-color: rgb(203, 185, 221);
  transition: all 600ms ease-in-out;
}

.App[data-background="2"] {
  background-color: rgb(247, 199, 224);
  transition: all 600ms ease-in-out;
}

.App[data-background="3"] {
  background-color: rgb(236, 187, 164);
  transition: all 600ms ease-in-out;
}
